.bg_img_login {
  background-image: url(../src/assets/bg_img.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  height: auto !important;
}
.paperColor {
  background-color: white !important;
}
.bg_img_home {
  background-image: url(../src/assets/bg_img.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}
